.mb {
    &-80 {
        margin-bottom: 80px;
    }

    &-64 {
        margin-bottom: 64px;
    }

    &-48 {
        margin-bottom: 48px;
    }

    &-32 {
        margin-bottom: 32px;
    }

    &-24 {
        margin-bottom: 24px;
    }
    
    &-20 {
        margin-bottom: 20px;
    }

    &-16 {
        margin-bottom: 16px;
    }

    &-12 {
        margin-bottom: 12px;
    }

    &-8{
        margin-bottom: 8px;
    }

    &-4 {
        margin-bottom: 4px;
    }
}

@media (max-width: 767px) {
    .mb-sm {
        &-32 {
            margin-bottom: 32px;
        }
        
        &-24 {
            margin-bottom: 24px;
        }

        &-16 {
            margin-bottom: 16px;
        }

        &-12 {
            margin-bottom: 12px;
        }

        &-8 {
            margin-bottom: 8px;
        }

        &-4 {
            margin-bottom: 4px;
        }
    }
}

.ml {
    &-auto {
        margin-left: auto;
    }
    &-48 {
        margin-left: 48px;
    }
    &-40 {
        margin-left: 40px;
    }
    &-24 {
        margin-left: 24px;
    }
    &-12 {
        margin-left: 12px;
    }
    &-8 {
        margin-left: 8px;
    }
    &-4 {
        margin-left: 4px;
    }
}

@media (max-width: 767px) {
    .ml-sm {
        &-16 {
            margin-left: 16px;
        }
    }
}

.my {
    &-16 {
        margin-top: 16px;
        margin-bottom: 16px;
    }
}

.pb {
    &-48 {
        padding-bottom: 48px;
    }
}

@media (max-width: 767px) {
    .pb-sm {
        &-32 {
            padding-bottom: 32px;
        }
    }
}

.py {
    &-64 {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    &-48 {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    &-32 {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    &-12 {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

@media (max-width: 767px) {

    .py-sm {
        &-40 {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        &-32 {
            padding-top: 32px;
            padding-bottom: 32px;
        }

        &-24 {
            padding-top: 24px;
            padding-bottom: 24px;
        }

        &-0 {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}