<footer class="footer">
    <div class="registrationAd d-flex mb-64 mb-sm-32">
        <p class="heading">加入會員<br class="breakline">取得 9 折優惠</p>
        <button type="button" class="btn-neutral btn ml-24 ml-sm-16">馬上註冊</button>
    </div>

    <div class="container">
        <nav class="section-border">
            <ul class="navBar d-flex mb-24">
                <li><a href="#">
                    <img src="../assets/images/00_logo.svg" alt="URBNSTEP LOGO">
                </a></li>
                <li class="ml-auto"><a href="#" class="linkBtn">商品列表</a></li>
                <li class="ml-40"><a href="#" class="linkBtn">品牌故事</a></li>
            </ul>
        </nav>

        <div class="copyright mb-64">
            <p class="weight-regular">Copyright ©2025 URBNSTYLE</p>
            <p class="weight-regular">All Rights Reserved.</p>
        </div>
    </div>
</footer>