<div class="container">
    <nav class="nav-main my-16">
        <ul class="navBar d-flex">
        <li><a href="../pages/index.html">
            <img src="../assets/images/00_logo.svg" alt="URBNSTEP LOGO">
        </a></li>
        <li class="ml-48"><a href="../pages/productList.html" class="linkBtn">商品列表</a></li>
        <li class="ml-40"><a href="../pages/story.html" class="linkBtn">品牌故事</a></li>
        <li class="ml-auto"><a href="#">
            <i class="bi bi-person"></i>
        </a></li>
        </ul>
    </nav>
</div>