<div class="container">
    <nav class="nav-main my-16">
        <ul class="navBar d-flex">
        <li><a href="index.html">
            <img src="../assets/images/00_logo.svg" alt="URBNSTEP LOGO">
        </a></li>
        <li class="ml-48 d-sm-none"><a href="productList.html" class="linkBtn">商品列表</a></li>
        <li class="ml-40 d-sm-none"><a href="story.html" class="linkBtn">品牌故事</a></li>
        <li class="ml-auto"><a href="favorite.html">
            <i class="bi bi-person"></i>
        </a></li>
        </ul>
    </nav>
</div>