/* debug 用
* {
    outline: 1px solid blue;
} */

/* 全域設定 */
*,
*::before,
*a::after {
    box-sizing: border-box;
}

body, button {
    color: $color-neutral-900;
    font-family: "Noto Sans", sans-serif;
    letter-spacing: var(--letter-spacing);
    line-height: var(--line-height-p);
}

img {
    vertical-align: middle;
    width: 100%;
    height: auto;
}

a {
    display: inline-block;
    text-decoration: none;
    color: $color-neutral-900;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: var(--font-size-pmd);
}

/* 容器 */
.container {
    max-width: calc(1296px + 12px * 2);
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}
.row {
    display: flex;
    margin-left: 12px;
    margin-right: 12px;
}
.col {
    width: calc(100% / 12);
    padding-left: 12px;
    padding-right: 12px;
}

/* 推擠 */
.mb {
    &-80 {
        margin-bottom: 80px;
    }

    &-64 {
        margin-bottom: 64px;
    }

    &-48 {
        margin-bottom: 48px;
    }

    &-24 {
        margin-bottom: 24px;
    }

    &-16 {
        margin-bottom: 16px;
    }

    &-12 {
        margin-bottom: 12px;
    }

    &-4 {
        margin-bottom: 4px;
    }
}

@media (max-width: 768px) {
    .mb-sm {
        &-32 {
            margin-bottom: 32px;
        }
        
        &-24 {
            margin-bottom: 24px;
        }

        &-16 {
            margin-bottom: 16px;
        }

        &-12 {
            margin-bottom: 12px;
        }

        &-4 {
            margin-bottom: 4px;
        }
    }
}

.ml {
    &-auto {
        margin-left: auto;
    }
    &-48 {
        margin-left: 48px;
    }
    &-40 {
        margin-left: 40px;
    }
    &-24 {
        margin-left: 24px;
    }
}

@media (max-width: 768px) {
    .ml-sm {
        &-16 {
            margin-left: 16px;
        }
    }
}


.my {
    &-16 {
        margin-top: 16px;
        margin-bottom: 16px;
    }
}


/* 通用設定 */
.d-flex {
    display: flex;
}

.text-on-dark {
    color: $color-neutral-white;
}

.heading {
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-heading);
}
.weight-m {
    font-weight: var(--font-weight-medium);
}

.section-border {
    border-bottom: 1px solid $color-neutral-300;
}

.linkBtn {
    padding-top: 12px;
    padding-bottom: 12px;
    &:hover, &:focus {
        text-decoration: underline;
        text-underline-offset: 5px;
        color: lighten($color-neutral-900, 40%);
    }
}

.btn {
    padding: 12px 24px;
    font-weight: var(--font-weight-medium);
    @include phone() {
        padding: 8px 16px;
    }

    &-primary {
        background: $color-primary-300;
        &:hover, &:focus {
            color: $color-primary-500;
        }
    }
    &-neutral {
        background: $color-neutral-900;
        color: $color-neutral-white;
        &:hover, &:focus {
            background: $color-neutral-700;
        }
    }
    &-outline {
        bottom: 1px solid $color-neutral-900;
        &:hover, &:focus {
            background: $color-neutral-900;
            color: $color-neutral-white;
        }
    }
}