// debug 用
// * {
//     outline: 1px solid blue;
// }

/* 全域設定 */
*,
*::before,
*a::after {
    box-sizing: border-box;
}

body {
    color: $color-neutral-900;
    font-family: "Noto Sans", sans-serif;
    letter-spacing: var(--letter-spacing);
    line-height: var(--line-height-p);
    font-weight: var(--font-weight-medium);
}

img {
    vertical-align: middle;
    width: 100%;
    height: auto;
}

a {
    display: inline-block;
    text-decoration: none;
    color: $color-neutral-900;
}

button {
    font-family: inherit;
    letter-spacing: var(--letter-spacing);
    line-height: var(--line-height-p);
    font-weight: var(--font-weight-medium);
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: var(--font-size-pmd);

    &:disabled {
        cursor: default;
        pointer-events: none;
    }
}

/* 容器 */
.container {
    max-width: calc(1296px + 12px * 2);
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col {
    width: calc(100% / 12);
    padding-left: 12px;
    padding-right: 12px;

    &-2 {
        width: calc(100% / 12 * 2);
        padding-left: 12px;
        padding-right: 12px;
    }

    &-3 {
        width: calc(100% / 12 * 3);
        padding-left: 12px;
        padding-right: 12px;
    }

    &-4 {
        width: calc(100% / 12 * 4);
        padding-left: 12px;
        padding-right: 12px;
    }

    &-5 {
        width: calc(100% / 12 * 5);
        padding-left: 12px;
        padding-right: 12px;
    }

    &-6 {
        width: calc(100% / 12 * 6);
        padding-left: 12px;
        padding-right: 12px;
    }

    &-7 {
        width: calc(100% / 12 * 7);
        padding-left: 12px;
        padding-right: 12px;
    }

    &-8 {
        width: calc(100% / 12 * 8);
        padding-left: 12px;
        padding-right: 12px;
    }

    &-10 {
        width: calc(100% / 12 * 10);
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media (max-width: 992px) {
    .col-md-5 {
        width: calc(100% / 12 * 5);
    }
    
    .col-md-7 {
        width: calc(100% / 12 * 7);
    }
}

@media (max-width: 767px) {
    .col-sm {
        width: calc(100% / 4);

        &-2 {
            width: calc(100% / 4 * 2);
        }

        &-4 {
            width: 100%;
        }
    }
}

/* 推擠 */
.mb {
    &-80 {
        margin-bottom: 80px;
    }

    &-64 {
        margin-bottom: 64px;
    }

    &-48 {
        margin-bottom: 48px;
    }

    &-32 {
        margin-bottom: 32px;
    }

    &-24 {
        margin-bottom: 24px;
    }
    
    &-20 {
        margin-bottom: 20px;
    }

    &-16 {
        margin-bottom: 16px;
    }

    &-12 {
        margin-bottom: 12px;
    }

    &-8{
        margin-bottom: 8px;
    }

    &-4 {
        margin-bottom: 4px;
    }
}

@media (max-width: 767px) {
    .mb-sm {
        &-32 {
            margin-bottom: 32px;
        }
        
        &-24 {
            margin-bottom: 24px;
        }

        &-16 {
            margin-bottom: 16px;
        }

        &-12 {
            margin-bottom: 12px;
        }

        &-8 {
            margin-bottom: 8px;
        }

        &-4 {
            margin-bottom: 4px;
        }
    }
}

.ml {
    &-auto {
        margin-left: auto;
    }
    &-48 {
        margin-left: 48px;
    }
    &-40 {
        margin-left: 40px;
    }
    &-24 {
        margin-left: 24px;
    }
    &-12 {
        margin-left: 12px;
    }
    &-8 {
        margin-left: 8px;
    }
    &-4 {
        margin-left: 4px;
    }
}

@media (max-width: 767px) {
    .ml-sm {
        &-16 {
            margin-left: 16px;
        }
    }
}

.my {
    &-16 {
        margin-top: 16px;
        margin-bottom: 16px;
    }
}

.pb {
    &-48 {
        padding-bottom: 48px;
    }
}

@media (max-width: 767px) {
    .pb-sm {
        &-32 {
            padding-bottom: 32px;
        }
    }
}

.py {
    &-64 {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    &-48 {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    &-32 {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    &-12 {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

@media (max-width: 767px) {

    .py-sm {
        &-40 {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        &-32 {
            padding-top: 32px;
            padding-bottom: 32px;
        }

        &-0 {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

/* 通用設定 */
.d-flex {
    display: flex;
}
.flex-jcc {
    justify-content: center;
}

.d-lg-none {
    display: none;

    @include phone() {
        display: block;
    }
}
.d-sm-none {
    @include phone() {
        display: none;
    }
}

.breakline {
    display: none;

    @include phone-xsm() {
        display: inline-block;
    }
}

.text-primary-400 {
    color: $color-primary-400;
}
.text-attention {
    color: $color-danger-300;
}
.text-on-dark {
    color: $color-neutral-white;
}

.heading {
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-heading);
}
.weight-regular {
    font-weight: var(--font-weight-regular);
}

.fontsize-h1 {
    font-size: var(--font-size-h1);
}
.fontsize-h2 {
    font-size: var(--font-size-h2);
}
.fontsize-h3 {
    font-size: var(--font-size-h3);
}
.fontsize-h4 {
    font-size: var(--font-size-h4);
}
.fontsize-h5 {
    font-size: var(--font-size-h5);
}
.fontsize-h6 {
    font-size: var(--font-size-h6);
}

@media (max-width: 768px) {
    .fontsize-sm {
        &-h3 {
            font-size: var(--font-size-h3);
        }

        &-h4 {
            font-size: var(--font-size-h4);
        }

        &-h5 {
            font-size: var(--font-size-h5);
        }

        &-h6 {
            font-size: var(--font-size-h6);
        }
    }
}

.section-border {
    border-bottom: 1px solid $color-neutral-300;
}

.linkBtn {
    &:hover, &:focus {
        text-decoration: underline;
        text-underline-offset: 5px;
    }
}

.btn {
    padding: 12px 24px;
    @include phone() {
        padding: 8px 16px;
    }

    &-primary {
        background: $color-primary-300;
        &:hover {
            color: $color-primary-500;
        }
    }

    &-neutral {
        background: $color-neutral-900;
        color: $color-neutral-white;
        &:hover {
            background: $color-neutral-700;
        }
    }

    &-outline {
        border: 1px solid $color-neutral-900;
        background: transparent;
        &:hover {
            background: $color-neutral-900;
            color: $color-neutral-white;
        }
    }
}

.nav-breadcrumb {
    li+li::before {
        content: '/';
        color: $color-neutral-300;
        padding-left: 12px;
        padding-right: 12px;
    }

    a {
        color: $color-neutral-600;
    }

    @include phone(){
        font-size: var(--font-size-psm);
    }
}

.card {
    &:hover img{
        opacity: 0.6;
    }
}

.overflow-a {
    overflow-x: auto;
    scrollbar-width: none;
    flex-wrap: nowrap;

    .card {
        flex: 0 0 auto;
    }

    @include pad(){
        .card {
            width: 40%;
        }
    }

    @include phone-sm(){
        .card {
            width: 85%;
        }
    }
}