$color-primary-100: #F5FEE7;
$color-primary-200: #E8FEC5;
$color-primary-300: #C0FA73;
$color-primary-400: #57A203;
$color-primary-500: #477A11;

$color-neutral-white: #FFFFFF;
$color-neutral-100: #F8F9FA;
$color-neutral-300: #DEE2E6;
$color-neutral-600: #6C757D;
$color-neutral-700: #495057;
$color-neutral-900: #212529;

:root {
    --font-size-h1: 40px;
    --font-size-h3: 28px;
    --font-size-h4: 24px;
    --font-size-h5: 20px;

    --font-size-pmd: 16px;
    --font-size-psm: 14px;

    --line-height-heading: 1.2;
    --line-height-p: 1.5;
    --letter-spacing: 0.05em;

    --font-weight-medium: 500;
    --font-weight-bold: 700;

    --radius-sm: 4px;
    --radius-md: 12px;
    --radius-rounded: 1000px;
}