.container {
  max-width: calc(1296px + 12px * 2);
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.col {
  width: calc(100% / 12);
  padding-left: 12px;
  padding-right: 12px;

  &-2 {
    width: calc(100% / 12 * 2);
    padding-left: 12px;
    padding-right: 12px;
  }

  &-3 {
    width: calc(100% / 12 * 3);
    padding-left: 12px;
    padding-right: 12px;
  }

  &-4 {
    width: calc(100% / 12 * 4);
    padding-left: 12px;
    padding-right: 12px;
  }

  &-5 {
    width: calc(100% / 12 * 5);
    padding-left: 12px;
    padding-right: 12px;
  }

  &-6 {
    width: calc(100% / 12 * 6);
    padding-left: 12px;
    padding-right: 12px;
  }

  &-7 {
    width: calc(100% / 12 * 7);
    padding-left: 12px;
    padding-right: 12px;
  }

  &-8 {
    width: calc(100% / 12 * 8);
    padding-left: 12px;
    padding-right: 12px;
  }

  &-10 {
    width: calc(100% / 12 * 10);
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media (max-width: 992px) {
  .col-md-5 {
    width: calc(100% / 12 * 5);
  }

  .col-md-7 {
    width: calc(100% / 12 * 7);
  }

  .col-md-8 {
    width: calc(100% / 12 * 8);
  }
}

@media (max-width: 767px) {
  .col-sm {
    width: calc(100% / 4);

    &-2 {
      width: calc(100% / 4 * 2);
    }

    &-4 {
      width: 100%;
    }
  }
}
