.navBar {
    align-items: center;
    font-weight: var(--font-weight-medium);

    a:hover {
        color: lighten($color-neutral-900, 40%);
    }

    .linkBtn {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .bi-person {
        padding: 13px;
    }
}

