<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的收藏｜URBNSTEP 鞋子電商</title>
  </head>
  <body>
    
    <%- include('./layout/header'); -%>

    <main class="container py-64 py-sm-24">
        <div class="row flex-jcc">
            <div class="col-6 col-sm-4">
                <h1 class="title">
                    <i class="bi bi-check-circle-fill fontsize-h1"></i>
                    <span class="fontsize-h3 fontsize-sm-h4 heading">我的收藏</span>
                </h1>
            </div>
        </div>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>