<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URBNSTEP 鞋子電商</title>
  </head>
  <body>
    
    <%- include('./layout/header'); -%>

    <header class="index-header">
      <div class="index-text">
        <H1 class="fsz-d1 fsz-sm-d2 heading text-on-dark mb-16 mb-sm-8">URBNSTEP</H1>
        <p class="fsz-h3 fsz-sm-h5 heading text-on-dark mb-48 mb-sm-32">Your Step,<br class="break-line"> Your Statement</p>
        <button type="button" onclick="location.href='productList.html'" class="btn btn-primary">
          立即選購
        </button>
      </div>
    </header>

    <main>
      <div class="container">
        <section class="py-64 py-sm-40">
          <h2 class="fsz-d2 fsz-sm-h2 heading text-center mb-12 mb-sm-8">New Arrival</h2>
          <h2 class="fsz-h2 fsz-sm-h4 heading text-center mb-32 mb-sm-24">新品上市</h2>
          <ul class="row">
            <li class="card col-6 col-sm-2 mb-40 mb-sm-24">
              <a href="product.html">
                <img src="../assets/images/00_index_new-1.png" alt="純白運動鞋配亞麻反摺長褲實穿圖" class="mb-12 mb-sm-8">
                <h4 class="fsz-h5 fsz-sm-h6 heading mb-4 mb-sm-0">Monoverse</h4>
                <p>NT$3,600</p>
              </a>
            </li>

            <li class="card col-6 col-sm-2 mb-40 mb-sm-24">
              <a href="product.html">
                <img src="../assets/images/00_index_new-2.png" alt="撞色運動鞋配深色長褲實穿圖" class="mb-12 mb-sm-8">
                <h4 class="fsz-h5 fsz-sm-h6 heading mb-4 mb-sm-0">Monoverse</h4>
                <p>NT$2,600</p>
              </a>
            </li>

            <li class="card col-6 col-sm-2 mb-40 mb-sm-24">
              <a href="product.html">
                <img src="../assets/images/00_index_new-3.png" alt="杏色短靴配黑色長褲實穿圖" class="mb-12 mb-sm-8">
                <h4 class="fsz-h5 fsz-sm-h6 heading mb-4 mb-sm-0">Monoverse</h4>
                <p>NT$3,200</p>
              </a>
            </li>

            <li class="card col-6 col-sm-2 mb-40 mb-sm-24">
              <a href="product.html">
                <img src="../assets/images/00_index_new-4.png" alt="雙色運動鞋配卡其縮腿長褲實穿圖" class="mb-12 mb-sm-8">
                <h4 class="fsz-h5 fsz-sm-h6 heading mb-4 mb-sm-0">Monoverse</h4>
                <p>NT$4,000</p>
              </a>
            </li>
          </ul>
        </section>
  
        <section class="py-64 py-sm-40">
          <h3 class="fsz-h2 fsz-sm-h4 heading mb-21 mb-sm-16">熱銷補貨</h3>
          <ul class="row overflow-a">
            <li class="card col-3">
              <a href="product.html" class="label">
                  <img src="../assets/images/02_list_product-4.png" alt="Melty Kiss 紫白花朵鞋款商品圖">
                  <span>人氣 No.1</span>
              </a>
            </li>

            <li class="card col-3">
              <a href="product.html" class="label">
                  <img src="../assets/images/02_list_product-1.png" alt="PLATFORM 404 撞色鞋款商品圖">
                  <span>人氣 No.1</span>
                </a>
            </li>

            <li class="card col-3">
              <a href="product.html" class="label">
                  <img src="../assets/images/02_list_product-7.png" alt="R:UNER 純色跑鞋商品圖">
                  <span>人氣 No.1</span>
                </a>
            </li>

            <li class="card col-3">
                <a href="product.html" class="label">
                  <img src="../assets/images/02_list_product-5.png" alt="BOOMBLOK 純白鞋款商品圖">
                  <span>人氣 No.1</span>
                </a>
            </li>
          </ul>
        </section>
      </div>
  
      <section class="py-48 py-sm-24 p-relative overflow-none">
        <div class="ad-news d-flex flex-col flex-aic">
          <h2 class="text-on-dark d-flex flex-col-sm flex-aic mb-16">
            <span class="fsz-d2 fsz-sm-h2 heading">URBNSTEP</span>
            <span class="fsz-h1 fsz-sm-h3 heading text-primary-300 mx-24">x</span>
            <span class="fsz-d2 fsz-sm-h2 heading">Kevin Chen</span>
          </h2>
          <h2 class="fsz-h2 fsz-sm-h5 heading text-on-dark mb-32 mb-sm-24">跨界聯名，限量發售</h2>
          <p class="fsz-h5 fsz-sm-h6 text-on-dark weight-regular mb-48 mb-sm-32">新銳漫畫家 Kevin Chen 親自操刀設計<br class="break-line"><span class="d-sm-none">，</span>街頭能量全面引爆！</p>
          <button type="button" class="btn btn-primary">立即搶購</button>
          <img src="../assets/images/00_index_banner-star.svg" alt="螢光裝飾線條星星" class="star">
          <img src="../assets/images/00_index_banner-sparkle.svg" alt="螢光裝飾線條閃光" class="sparkle">
        </div>
      </section>

      <div class="container">
        <section class="py-64 py-sm-40">
          <h3 class="fsz-h2 fsz-sm-h4 heading mb-16">依系列選購</h3>
          <ul class="row">
            <li class="col-3 col-md-6 col-sm-2 mb-md-24 mb-sm-12 card">
              <a href="productList.html" class="p-relative">
                <img src="../assets/images/02_list_product-7.png" alt="R:UNER 純色跑鞋商品圖">
                <div class="text-overlay d-flex flex-jcc flex-aic flex-col">
                  <h4 class="fsz-h3 fsz-sm-h6 heading text-on-dark text-center mb-8">URBN RUNNER</h4>
                  <h4 class="fsz-h3 fsz-sm-h6 heading text-on-dark">慢跑系列</h4>
                </div>
              </a>
            </li>

            <li class="col-3 col-md-6 col-sm-2 mb-md-24 mb-sm-12 card">
              <a href="productList.html" class="p-relative">
                <img src="../assets/images/00_index_product-11.png" alt="STREETMODE 黑底滑板鞋商品圖">
                <div class="text-overlay d-flex flex-jcc flex-aic flex-col">
                  <h4 class="fsz-h3 fsz-sm-h6 heading text-on-dark mb-8">STREETMODE</h4>
                  <h4 class="fsz-h3 fsz-sm-h6 heading text-on-dark">滑板系列</h4>
                </div>
              </a>
            </li>

            <li class="col-3 col-md-6 col-sm-2 card">
              <a href="productList.html" class="p-relative">
                <img src="../assets/images/02_list_product-10-sm.png" alt="CHUNK DISTRICT 純色厚底鞋商品圖">
                <div class="text-overlay d-flex flex-jcc flex-aic flex-col">
                  <h4 class="fsz-h3 fsz-sm-h6 heading text-on-dark text-center mb-8">CHUNK DISTRICT</h4>
                  <h4 class="fsz-h3 fsz-sm-h6 heading text-on-dark">厚底系列</h4>
                </div>
              </a>
            </li>

            <li class="col-3 col-md-6 col-sm-2 card">
              <a href="productList.html" class="p-relative">
                <img src="../assets/images/00_index_product-10.png" alt="COLLAB ZONE 橘白花朵鞋款商品圖">
                <div class="text-overlay d-flex flex-jcc flex-aic flex-col">
                  <h4 class="fsz-h3 fsz-sm-h6 heading text-on-dark text-center mb-8">COLLAB ZONE</h4>
                  <h4 class="fsz-h3 fsz-sm-h6 heading text-on-dark">聯名企劃</h4>
                </div>
              </a>
            </li>
          </ul>

        </section>

        <section class="py-64 py-sm-40 mb-48 mb-sm-24">
          <h3 class="fsz-h2 fsz-sm-h4 heading mb-16">穿搭靈感</h3>
          <div class="grid-gallery">
            <a href="#" class="card">
              <img src="../assets/images/00_index_inspiration-1.png" alt="女性夏休閒裝，白鞋，眼鏡、白背心搭灰長褲，肩上披打結深藍外套">
            </a>
            <a href="#" class="card">
              <img src="../assets/images/00_index_inspiration-2.png" alt="女性春秋運動裝，白鞋藍邊條，白T外搭杏色連帽外套及長牛仔褲">
            </a>
            <a href="#" class="card">
              <img src="../assets/images/00_index_inspiration-3.png" alt="男性夏休閒裝，白鞋，橘色墨鏡、白背心配墨綠反折長褲">
            </a>
            <a href="#" class="card">
              <img src="../assets/images/00_index_inspiration-4.png" alt="女性春秋運動裝，粉黑運動鞋，墨鏡配黑粉長袖套裝">
            </a>
            <a href="#"  class="grid-gallery-2x card">
              <img src="../assets/images/00_index_inspiration-5.png" alt="女性夏休閒裝，白鞋，墨鏡搭白T與黑緊身短褲">
            </a>
            <a href="#"  class="grid-gallery-2x card">
              <img src="../assets/images/00_index_inspiration-6.png" alt="男性冬休閒裝，白鞋，白鴨舌帽、黑口罩配牛仔外套及長褲，內搭厚絨毛連帽衣">
            </a>
            <a href="#" class="card">
              <img src="../assets/images/00_index_inspiration-7.png" alt="女性夏休閒裝，白底黑裝飾鞋，白背心搭黑長褲">
            </a>
            <a href="#" class="card">
              <img src="../assets/images/00_index_inspiration-8.png" alt="女性春秋休閒裝，白鞋，褐色墨鏡搭灰藍運動拼接外套搭同色縮腳長褲">
            </a>
            <a href="#" class="card">
              <img src="../assets/images/00_index_inspiration-9.png" alt="男性夏運動裝，白鞋，深色白邊POLO衫配白底紅邊條長褲及亮紅色英文字側背包">
            </a>
            <a href="#" class="card">
              <img src="../assets/images/00_index_inspiration-10.png" alt="">
            </a>
            <a href="#" class="card">
              <img src="../assets/images/00_index_inspiration-11.png" alt="">
            </a>
            <a href="#" class="card">
              <img src="../assets/images/00_index_inspiration-12.png" alt="">
            </a>
          </div>
        </section>
      </div>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>