<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>產品列表｜URBNSTEP 鞋子電商</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main class="container py-32 mb-48 mb-sm-24">
      <nav>
        <ol class="nav-breadcrumb d-flex mb-24">
          <li>
            <a href="index.html" class="linkBtn">首頁</a>
          </li>

          <li>
            <a href="#" class="linkBtn">女鞋</a>
          </li>
          <li>所有商品</li>
        </ol>
      </nav>

      <h1 class="fsz-h3 heading mb-24">女鞋</h1>
        
      <section class="row">
        <nav class="col-2 d-sm-none">
          <ul>
            <li class="text-primary-400 mb-20">所有商品</li>
            
            <li class="mb-20">
              <a href="#" class="linkBtn">慢跑鞋</a>
            </li>
            
            <li class="mb-20">
              <a href="#" class="linkBtn">滑板鞋</a>
            </li>
            
            <li class="mb-20">
              <a href="#" class="linkBtn">厚底鞋</a>
            </li>
            
            <li>
              <a href="#" class="linkBtn">限定 / 聯名企劃</a>
            </li>
          </ul>
        </nav>

        <section class="col-10 col-sm-4">
          <ul class="row">
            <li class="card col-4 col-sm-2 mb-48 mb-sm-24">
              <a href="product.html">
                <img src="../assets/images/02_list_product-1.png" alt="PLATFORM 404 撞色鞋款商品圖" class="mb-12">
                <h2 class="fsz-h6 heading mb-4">PLATFORM 404</h2>
                <p>NT$2,600</p>
              </a>
            </li>

            <li class="card col-4 col-sm-2 mb-48 mb-sm-24">
              <a href="product.html">
                <img src="../assets/images/02_list_product-2.png" alt="PLATFORM 404 撞色鞋款商品圖" class="mb-12">
                <h2 class="fsz-h6 heading mb-4">PLATFORM 404</h2>
                <p>NT$2,600</p>
              </a>
            </li>

            <li class="card col-4 col-sm-2 mb-48 mb-sm-24">
              <a href="product.html">
                <img src="../assets/images/02_list_product-3.png" alt="VM001 灰白撞色鞋款商品圖" class="mb-12">
                <h2 class="fsz-h6 heading mb-4">VM001</h2>
                <p>NT$2,600</p>
              </a>
            </li>

            <li class="card col-4 col-sm-2 mb-48 mb-sm-24">
              <a href="product.html">
                <img src="../assets/images/02_list_product-4.png" alt="Melty Kiss 紫白花朵鞋款商品圖" class="mb-12">
                <h2 class="fsz-h6 heading mb-4">Melty Kiss</h2>
                <p>NT$2,600</p>
              </a>
            </li>

            <li class="card col-4 col-sm-2 mb-48 mb-sm-24">
              <a href="product.html">
                <img src="../assets/images/02_list_product-5.png" alt="BOOMBLOK 純白鞋款商品圖" class="mb-12">
                <h2 class="fsz-h6 heading mb-4">BOOMBLOK</h2>
                <p>NT$4,000</p>
              </a>
            </li>

            <li class="card col-4 col-sm-2 mb-48 mb-sm-24">
              <a href="product.html">
                <img src="../assets/images/02_list_product-6.png" alt="BOOMBLOK 淺藍鞋款商品圖" class="mb-12">
                <h2 class="fsz-h6 heading mb-4">BOOMBLOK</h2>
                <p>NT$3,200</p>
              </a>
            </li>

            <li class="card col-4 col-sm-2 mb-48 mb-sm-24">
              <a href="product.html">
                <img src="../assets/images/02_list_product-7.png" alt="R:UNER 純色跑鞋商品圖" class="mb-12">
                <h2 class="fsz-h6 heading mb-4">R:UNER</h2>
                <p>NT$3,200</p>
              </a>
            </li>

            <li class="card col-4 col-sm-2 mb-48 mb-sm-24">
              <a href="product.html">
                <img src="../assets/images/02_list_product-8.png" alt="Sugar Snap 黃橘雙色鞋款商品圖" class="mb-12">
                <h2 class="fsz-h6 heading mb-4">Sugar Snap</h2>
                <p>NT$4,000</p>
              </a>
            </li>

            <li class="card col-4 col-sm-2 mb-48 mb-sm-32">
              <a href="product.html">
                <img src="../assets/images/02_list_product-9.png" alt="Neofoam 純白跑鞋商品圖" class="mb-12">
                <h2 class="fsz-h6 heading mb-4">Neofoam</h2>
                <p>NT$4,000</p>
              </a>
            </li>
            
            <li class="card col-4 col-sm-2 d-lg-none mb-sm-32">
              <a href="product.html">
                <img src="../assets/images/02_list_product-10-sm.png" alt="Buttermood 奶油白鞋款商品圖" class="mb-12">
                <h2 class="fsz-h6 heading mb-4">Buttermood</h2>
                <p>NT$4,000</p>
              </a>
            </li>
          </ul>

          <ul class="d-flex pagination">
            <li>
              <button type="button" disabled>
                <i class="bi bi-chevron-left"></i>
              </button>
            </li>

            <li>
              <button type="button" class="activated">1</button>
            </li>

            <li>
              <button type="button" class="weight-regular">2</button>
            </li>

            <li>
              <button type="button" class="weight-regular">3</button>
            </li>

            <li class="pagination-item weight-regular">…</li>
            
            <li>
              <button type="button" class="weight-regular">10</button>
            </li>

            <li>
              <button type="button">
                <i class="bi bi-chevron-right"></i>
              </button>
            </li>
          </ul>
        </section>
      </section>
    </main>


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>